# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
venv/
.venv/

# Environment variables
.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# Database files
*.db

# Node
node_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
